.footer {
    position:fixed;
    margin: 0;
    bottom:0;
    height: 16px;
    width: 100%;
    outline: lightgrey solid 1px;
    /*background-color: white;*/
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: flex;
    justify-content: flex-end;
}

.footer span {
    margin: 0 16px 0 32px;
}